<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <script src="/jquery/jquery.js"></script>
  <script src="/js/member.js"></script>
  <title>회원가입 페이지</title>
</head>
<body>
<form th:action="@{/users/new}" method="post">
  <div>
    <label for="name">아이디</label>
    <input type="text" id="userId"
           th:field="${user.userId}"
           name="name" placeholder="이름을 입력하세요.">
  </div>
  <div>
    <label for="addr">닉네임</label>
    <input type="text" id="nickName" th:field="${user.nickName}"
           name="address" placeholder="주소를 입력하세요.">
  </div>
  <div>
    <label for="name">비밀번호</label>
    <input type="text" id="password"
           th:field="${user.password}"
           name="name" placeholder="이름을 입력하세요.">
  </div>
  <button type="submit">등록</button>
</form>

</body>
</html>